<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Person:</strong>
  <%= @order.person.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product.description %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
